body{
	background-color:#F9F9F9;
}
.nav_head{
	width: 100%;
	text-align: center;
	padding: .15rem 0;
	border-bottom: 1px solid #e1e1e1;
	color: #666;
	background-color: #efefef;
}
.nav_head .nav_con{
	font-size: .2rem;
	font-weight: 400;
}